<!doctype html>
<html>

<head>
    <!--Our custom css-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <style>
        body {
            font-family: "Roboto", sans-serif;
            background-image: url("{{ url_for('static', filename='img/dna-compass.png')}}");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: top right;
            background-size: 240px 240px;
        }
        
        #indications {
            width: 100%;
        }
        
        #outputdiv {
            border: 1px;
            border-color: gray;
            border-style: solid;
        }
        
        #resdiv {
            padding: 20px;
            margin: auto;
            width: 90%;
        }
        
        #restable {
            min-width: 100%;
        }
        
        #resclicktable {
            min-width: 100%;
        }
    </style>
    
    <!-- js libraries w/css styles -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    
    <script>
        function copyText(labelID) {
            console.log(labelID);
            var copied = $('#'+labelID);
            console.log(copied);
            copied.select();
            document.execCommand("Copy");
        }
        
        $(document).ready(function () {
            $("#get_terms").click(function () {
                var fieldSet = $("#hpofs-output");
                fieldSet.empty();
                message = "Contacting annotator...";
                fieldSet.append("<h4 style=\"color: blue;\">"+message+"</h4>");
                
                //$("#annot_res").empty();
                $("#resdiv").empty();
                $.getJSON("/text/annotate",
                    {'indications': $("#indications").val()},
                    function (resultJson) {
                        var fieldSet = $("#hpofs-output");
                        fieldSet.empty();
                        
                        if(resultJson.annotatorStatus == 200){
                            $.each(resultJson.terms, function(key, field) {
                                fieldSet.append("<label for=\"checkbox-"+key+"\">"+key+" - "+field+"</label>");
                                fieldSet.append("<input type=\"checkbox\" name=\""+key+"\" id=\"checkbox-"+key+"\"><br>");
                            });
                        }
                        else {
                            message = "Received "+resultJson.annotatorStatus+" error from Annotator, use manual entry to bypass.";
                            message += " If the problem persists, contact PyxisMap developers.";
                            fieldSet.append("<h4 style=\"color: red;\">"+message+"</h4>");
                        }
                        $("input[type='checkbox']").checkboxradio();
                    }
                ).fail(function() {
                    var fieldSet = $("#hpofs-output");
                    fieldSet.empty();
                    message = "ERROR: Unable to contact server.";
                    message += " If the problem persists, contact PyxisMap developers.";
                    fieldSet.append("<h4 style=\"color: red;\">"+message+"</h4>");
                });
            });
            
            $('.hpo-select').select2({
                minimumInputLength: 4,
                placeholder: 'Search for HPO terms...',
                ajax: {
                    url: '/terms',
                    delay: 300,
                    dataType: 'json'
                }
            });
                        
            $("#genes_btn").click(function () {
                $("#resdiv").empty();
                
                var selectedTerms = $("input[type='checkbox']:checked").map(function(){
                    return $(this).attr('name');
                }).get();
                var terms = $('.hpo-select').select2('data').map(function(currentValue){ return currentValue.id;});
                var allTerms = terms.concat(selectedTerms);
                console.log(allTerms);
                
                if(allTerms.length === 0) {
                    alert("No HPO terms are selected.");
                    return;
                }
                
                $("#resdiv").append("<h4 style=\"color: blue\">Querying server...</h4>");
                $.ajax({
                        type: 'POST',
                        url: '/rank',
                        data: JSON.stringify(allTerms),
                        success: function(data) {
                            $("#resdiv").empty();
                            $("#resdiv").append('Used: ' + JSON.stringify(data.usedTerms).replace("[","{").replace("]","}") + '<br>');
                            $("#resdiv").append('CSV-used: ' + data.usedTerms.sort() + '<br>');
                            $("#resdiv").append('Missing: ' + data.missingTerms + '<br><br>');

                            var genes = [];
                            data.rankings.forEach(function (t) { genes.push(t.label); });
                            
                            var slices = [20, 50, 100, 500, 1000, 2000, 5000, genes.length];
                            slices.forEach(function (sliceSize) {
                                var rd = $("#resdiv");
                                var geneText = genes.slice(0, sliceSize).toString().replace(/[\[\]]/g,"").replace(/,/g,";");
                                if(sliceSize == genes.length) {
                                    rd.append("<h4>All genes</h4>");
                                }
                                else {
                                    rd.append("<h4>Top "+sliceSize+" genes</h4>");
                                }
                                rd.append('<button onclick="copyText(\'copy'+sliceSize+'\')">Copy text</button>');
                                rd.append("<textarea readonly rows=\"1\" class=\"copyBlock\" id=\"copy"+sliceSize+"\">"+geneText+"</textarea><br><br>");
                            });
                        },
                        error: function (textStatus, errorThrown) {
                            $("#resdiv").empty();
                            $("#resdiv").append("<h4 style=\"color: red\">ERROR: "+errorThrown+", if the problem persists, contact PyxisMap developers.</h4>");
                        },
                        contentType: "application/json",
                        dataType: 'json'
                });
            });
                        
            $("#table_btn").click(function () {
                $("#resdiv").empty();
                
                var selectedTerms = $("input[type='checkbox']:checked").map(function(){
                    //return name (HPO ##) and inner text (aka, the conceptual label)
                    return [$(this).attr('name'), $(this)[0].labels[0].innerText];
                }).get();
                
                //this just splits the return into HPO ## list and our mouseover text
                st2 = [];
                mot2 = {};
                for (var n in selectedTerms) {
                    if (n % 2 == 0) {
                        st2.push(selectedTerms[n]);
                    }
                    else {
                        mot2[selectedTerms[n-1]] = selectedTerms[n];
                    }
                }
                
                //add in the one from the typed stuff
                var terms = [];
                var mot = {};
                
                var selected = $('.hpo-select').select2('data');
                
                for (n=0; n < selected.length; n++) {
                    terms.push(selected[n].id);
                    mot[selected[n].id] = selected[n].text;
                }
                
                //concat everything
                var allTerms = terms.concat(st2);
                var allMot = Object.assign({}, mot, mot2);
                
                if(allTerms.length === 0) {
                    alert("No HPO terms are selected.");
                    return;
                }
                
                columns = [
                    {title: "Rank", data: 'rank'},
                    {title: "Combined", data: 'weight'},
                    {title: "Gene", data: 'label'}
                ];
                
                for (t in allTerms) {
                    motText = "<span title=\""+allMot[allTerms[t]]+"\">"+allTerms[t]+"</span>";
                    columns.push({title: motText, term: allTerms[t], data: allTerms[t],
                                 mRender: function(data, type, full) {
                                        if(type == 'display') return data[1]+" ("+data[0]+")";
                                        else return data[1];
                                    }});
                }
                
                console.log(columns);
                
                $("#resdiv").append("<h4 style=\"color: blue\">Querying server...</h4>");
                $.ajax({
                        type: 'POST',
                        url: '/deeprank',
                        data: JSON.stringify(allTerms),
                        success: function(data) {
                            $("#resdiv").empty();
                            $("#resdiv").append("<table id=\"restable\" class=\"display\"></table><br/>");
                            $("#resdiv").append("<div id=\"resclickdiv\"></div>");
                
                            var table = $("#restable").DataTable({
                                data: data.rankings,
                                columns: columns,
                                order: [[0, 'asc']],
                                scrollX: true,
                                createdRow: function ( row, data, index ) {
                                    //do the combined weights
                                    if (data.weight*1 > 0) {
                                        $('td', row).eq(1).addClass('highlight');
                                    }
                                    else if (data.weight*1 < 0) {
                                        $('td', row).eq(1).addClass('revhighlight');
                                    }
                                    
                                    //loop through the HPO terms
                                    for (x=3; x < columns.length; x++) {
                                        if(data[columns[x].term][1]*1 > 0) {
                                            $('td', row).eq(x).addClass('highlight');
                                        }
                                        else if(data[columns[x].term][1]*1 < 0) {
                                            $('td', row).eq(x).addClass('revhighlight');
                                        }
                                    }
                                }
                            });
                            
                            $('#restable tbody').on('click', 'tr', function () {
                                if ($(this).hasClass('selected') ) {
                                    $(this).removeClass('selected');
                                }
                                else {
                                    table.$('tr.selected').removeClass('selected');
                                    $(this).addClass('selected');
                                }
                                var rowdata = table.row(this).data();
                                console.log(rowdata);
                                
                                //$("#resclickdiv").append(rowdata["label"]+"<br/>");
                                $("#resclickdiv").empty();
                                $("#resclickdiv").append("<h3>"+rowdata.label+"</h3>");
                                $("#resclickdiv").append("<table id=\"resclicktable\" class=\"display\"></table><br/>");
                                
                                clickColumns = [
                                    {title: "Rank", data: 'rank'},
                                    {title: "Weight", data: 'weight'},
                                    {title: "HPO", data: 'hpo_num'},
                                    {title: "Description", data: 'hpo_desc'}
                                ];
                                
                                clickData = [];
                                for (t in allTerms) {
                                    clickData.push({
                                        rank: rowdata[allTerms[t]][0],
                                        weight: rowdata[allTerms[t]][1],
                                        hpo_num: allTerms[t],
                                        hpo_desc: allMot[allTerms[t]]
                                    });
                                }
                                
                                var clicktable = $('#resclicktable').DataTable({
                                    data: clickData,
                                    columns: clickColumns,
                                    order: [[0, 'asc'], [1, 'desc']],
                                    scrollX: true,
                                    createdRow: function(row, data, index) {
                                        //do the combined weights
                                        if (data.weight*1 > 0) {
                                            $('td', row).eq(1).addClass('highlight');
                                        }
                                        else if (data.weight*1 < 0) {
                                            $('td', row).eq(1).addClass('revhighlight');
                                        }
                                    }
                                });


                                var columns4pheno = [
                                    {title: "Match Count", data: 'count'},
                                    {title: "PubMed ID", data: 'pmid'},
                                    {title: "Matched Phenotypes", data: 'terms'}
                                ];

                                var geneData = {
                                    gene: rowdata.label,
                                    phenotypes: clickData.filter(function (po) {
                                            return po.weight * 1 > 0
                                        })
                                        .map( function (value) {
                                            return value.hpo_num
                                        })
                                };

                                $.ajax({
                                    type: 'POST',
                                    url: '/phenotypegene',
                                    data: JSON.stringify(geneData),
                                    success: function(data) {
                                        $("#resclickdiv").append("<h3>Papers for Gene</h3><br>");
                                        $("#resclickdiv").append("<table id=\"papertable\" class=\"display\"></table>");
                                        var numbers = data.data.map(function (value) { return value.count });
                                        var max = Math.max.apply(null, numbers);
                                        var urlbase = 'https://www.ncbi.nlm.nih.gov/CBBresearch/Lu/Demo/PubTator/index.cgi?searchtype=PubMed_Search&query=';
                                        var pmids = data.data.filter(function (v) {
                                                return v.count === max;
                                            })
                                            .map(function (value) {
                                                return value.pmid;
                                            });
                                        url = encodeURI(urlbase + pmids.join(','));
                                        $("#resclickdiv").append("<a href=\"" + url + "\" target=\"_blank\">PubTator</a>");

                                        //first create a DataTable hosting the primary results that is sorted by rank
                                        $("#papertable").DataTable({
                                            data: data.data,
                                            columns: columns4pheno,
                                            order: [[0, 'desc'],[1, 'desc']]
                                        });
                                    },
                                    error: function (textStatus, errorThrown) {
                                        $("#resdiv").empty();
                                        $("#resdiv").append("<h4 style=\"color: red\">ERROR: "+errorThrown+", if the problem persists, contact PyxisMap developers.</h4>");
                                    },
                                    contentType: "application/json",
                                    dataType: 'json'
                                });
                            });
                        },
                        error: function (textStatus, errorThrown) {
                            $("#resdiv").empty();
                            $("#resdiv").append("<h4 style=\"color: red\">ERROR: "+errorThrown+", if the problem persists, contact PyxisMap developers.</h4>");
                        },
                        contentType: "application/json",
                        dataType: 'json'
                });
            });
        });
    </script>
</head>
<body>
    <div id="maindiv">
        <nav>
            <ul>
                <li><a class="active" href="/">PyxisMap</a></li>
                <li><a href="/ppi">PPI</a></li>
                <li style="float:right"><a href="/about">About</a></li>
            </ul>
        </nav>
        
        <div id="outputarea">
            <h2>Automatic phenotype annotation:</h2>
            <textarea id="indications" name="indications" rows="10">Place clinical indications, symptoms, and phenotypes here...</textarea>
            <br>
            <button id="get_terms">Get terms</button>
            <div id="annot_res">
                <fieldset id="hpofs">
                    <legend>Automatically annotated terms (select all that apply):</legend>
                    <div id="hpofs-output"></div>
                </fieldset>
                <h2>Search additional terms not automatically annotated:</h2>
                <select name="term[]" class="hpo-select" multiple="multiple" style="width: 50%"></select><br>
                <h2>Select output format</h2>
                <button id="genes_btn">Genes</button>
                <button id="table_btn">Table</button>
            </div>
            <div id="outputdiv">
                <pre id="resdiv"></pre>
            </div>
        </div>


    </div>
</body>
<footer>
    <div id="license_copy_right">
        <div class="copyright-statement" id="hpocr">
            This service/product is using the Human Phenotype Ontology (<a href="http://purl.obolibrary.org/obo/hp.obo" target="_blank">{{ md["hpo-data-version"][0] }}</a>). Find out more at <a href="http://www.human-phenotype-ontology.org" target="_blank">www.human-phenotype-ontology.org</a>.
        </div>
        <div class="copyright-statement" id="docr">
            This service/product is using the Disease Ontology (<a href="http://purl.obolibrary.org/obo/doid.obo" target="_blank">{{ md["do-data-version"][0] }}</a>). Find out more at <a href="http://disease-ontology.org/" target="_blank">http://disease-ontology.org/</a>.
        </div>
        <div class="copyright-statement" id="ordocr">
            This service/product is using the Orphanet Rare Disease Ontology, Orphadata: Free access data from Orphanet. © INSERM 1997. Available on <a href="http://www.orphadata.org" target="_blank">http://www.orphadata.org</a>.
            Data version (<a href="http://www.orphadata.org/data/ORDO/ordo_orphanet.owl.zip" target="_blank">v{{ md["orpha-versionInfo"][0] }}</a>).
        </div>
        <div class="copyright-statement" id="ncbo">
            This service/product interfaces with the NCBO BioPortal Annotator API (<a href="http://purl.obolibrary.org/obo/doid.obo" target="_blank">http://data.bioontology.org/documentation#nav_annotator</a>). Whetzel PL, Noy NF, Shah NH, Alexander PR, Nyulas C, Tudorache T, Musen MA. BioPortal: enhanced functionality via new Web services from the National Center for Biomedical Ontology to access and use ontologies in software applications. Nucleic Acids Res. 2011 Jul;39(Web Server issue):W541-5. Epub 2011 Jun 14.
            Find out more at <a href="https://bioportal.bioontology.org/annotator" target="_blank">https://bioportal.bioontology.org/annotator</a>
        </div>
        <div class="copyright-statement" id="ncbo">
            This service/product is using data annotated by PubTator. Wei CH et. al., PubTator: a Web-based text mining tool for assisting Biocuration, Nucleic acids research, 2013, 41 (W1): W518-W522. doi: 10.1093/nar/gkt44.
            Find out more at <a href="https://www.ncbi.nlm.nih.gov/CBBresearch/Lu/Demo/PubTator/" target="_blank">https://www.ncbi.nlm.nih.gov/CBBresearch/Lu/Demo/PubTator/</a>
        </div>
    </div>
</footer>
</html>